@mixin sliderBtns($bgimg) {
    font-size: 0;
    cursor: pointer;
    background: url($bgimg);
    width: 27px;
    height: 50px;
    position: absolute;
    right: -60px;
    transform: translateY(-50%);
}

.products {
    .title {
        margin-bottom: 30px;
    }

    .products-links {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 90px;

        &__link {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #EF7C00;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            width: 186px;
            height: 40px;
            border: 1px solid #EF7C00;
            border-radius: 4px;
        }
    }

    .owl-theme .owl-nav {
        margin-top: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        .custom-prev {
            @include sliderBtns('../img/cerificat/left.png');
            left: -60px;
        }

        .custom-next {
            @include sliderBtns('../img/cerificat/right.png');
            right: -60px;
        }
    }

    .products-tabs {
        &__caption {
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 44px;
            margin-bottom: 48px;

        }


        &__btn {
            padding: 12px 20px;
            border: 1px solid rgba(0, 16, 61, 0.12);
            border-radius: 61px;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #EF7C00;
            margin-bottom: 4px;

            &_active {
                background: #EF7C00;
                border: none;
                color: #FFFFFF;
            }
        }

        &__content {
            display: none;

            &_active {
                display: block;
            }
        }

    }
}